.transaction-summary {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  .transaction-summary .over-budget {
    color: red;
    font-weight: bold;
  }
  
  .transaction-summary .under-budget {
    color: green;
    font-weight: bold;
  }
  
  .transaction-summary .MuiTypography-button {
    display: inline-block;
    margin: 5px 0;
  }

.summaryTableContainer .MuiTableCell-root {
  padding-left: 8px;
  padding-right: 8px;
  white-space: nowrap;
}
